# System files (root level)
.DS_Store
Thumbs.db
*.swp

# IDE/Editor files (root level)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

###########################
# Backend (Python) specific
###########################
backend/__pycache__/
backend/*.py[cod]
backend/.env
backend/.venv/
backend/venv/
backend/*/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
backend/logs/
backend/.requirements.zip
backend/node_modules/
backend/.serverless
backend/.serverless/

#######################
# UI (Vue.js) specific
#######################
ui/node_modules/
ui/dist/
ui/.DS_Store
ui/.env
ui/.env.local
ui/.env.*.local
ui/npm-debug.log*
ui/**/.DS_Store
ui/ui/package-lock.json
ui/.idea
ui/.vscode
ui/*.suo

